<header class="bg-yellow-400 font-poppins sticky top-0 z-50 shadow-md">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-4 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1"> Burger Queen
            <a href="" class="-m-1.5 p-1.5">
                <span class="sr-only">Burger Queen</span>
            </a>
        </div>
        <div class="flex lg:hidden">
            <button type="button"
                class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5"
                (click)="closeMenu()">
                <span class="sr-only">Open main menu</span>
                <svg class="size-6" fill="white" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                    aria-hidden="true" data-slot="icon">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
            <div class="relative flex space-x-8 mx-auto">

            </div>
        </div>
        <div class="hidden lg:flex flex-1 lg:justify-end">
            <mat-icon>notifications</mat-icon>
        </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div class="lg:hidden" role="dialog" aria-modal="true" *ngIf="!close">
        <!-- Background backdrop, show/hide based on slide-over state. -->
        <div
            class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-yellow-400 px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
            <div class="float-right">
                <button type="button" class="-m-2.5 rounded-md p-2.5 text-white hover:text-gray-400 cursor-pointer"
                    (click)="closeMenu()">
                    <span class="sr-only">Close menu</span>
                    <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        aria-hidden="true" data-slot="icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="mt-6 flow-root">
                <div class="-my-6 divide-y divide-gray-500/10">
                    <div class="space-y-2 py-20">
                        <a
                            class="-mx-3 block rounded-lg px-3 py-5 text-xl font-extrabold cursor-pointer">
                            Burger Queen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>